<%- include('partials/head')%>
<%- include('partials/navbar')%>


<main class="container-fluid mx-auto">
    <section class="row">
        <article class="col-md-4">
            <h2 class="">Servicio de hoy</h2>
            <ul class="list-group d-none d-md-block">
                <li class="list-group-item">servico&nbsp;<span><%= service.code%></span></li>
                <li class="list-group-item">dia&nbsp;<span><%= service.day%></span></li>
            </ul>

        </article>
        <figure class="col-md-6">
            <img
                    class="animate__animated animate__zoomIn image-fluid rounded"
                    width="300" height="355"
                    src="/servicios/<%= service.image%>"
                    alt="servicio <%= service.image%>">
        </figure>
    </section>
    </main>

<%- include('partials/footer')%>
<%- include('partials/scripts')%>